*{
    margin: 0;
    padding: 0;
}

.cabeçalho{
    background-color: #E70BB6;
    color: yellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Logo-livraria{
    width: 15%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 20px;
    font-size: 20px;
}

.livraria-imagem{
    width: 25%;
}

.livraria{
    background-image: linear-gradient(#E70BB6,#F9B7EA);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.livraria-div-conteudo{
    width: 35%;
}

.livraria-titulo{
    padding: 24px 0;
}

body {
    font-family: 'Poppins', sans-serif;
}
.autor-imagem{
    width: 120px;
}
.autor-icone{
    width: 24px;
    padding: 4px 8px;
}

.autor-div{
    text-align: center;
    padding: 16px 0;
}
.autor-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.titulo-autor{
    text-align: center;
    padding: 50px;
}
.rodape{
    background-color: #E70BB6;
    text-align: center;
}
.rodape-imagem{
    width: 13%;
    padding: 16px 0;
}
.autores{
    text-align: center;
}